$black: #252525;
$white: #ffffff;
$fWhite: #f2f2f2;
$d: #ddd;
$e: #eee;
$blue: #3dc1d3;
$pink: #f985de;
$blackFaded: rgba(41, 41, 41, 0.2);
$whiteFaded: rgba(214, 214, 214, 0.2);
$whiteLite: #e1e8ee;
$liteGray: #E1DFE0;
$darkGray: #474A59;
$hoverGray: #e9ecef;
$sectionBackground: #f9f9f9;
$greenOnline: #00FF00;
